<div class="container">
  <h1>Todo List</h1>

  <div>
    <label for="searchBar"> Search the descriptions</label>
    <input type="text" name="searchBar" id="searchBar" ng-keypress="search()" ng-model="searchValue">
  </div>
  <ul>
    <li ng-repeat="item in items" ng-show="item.display">{{item.title ? item.title + ' - ' : ''}} {{item.description}}</li>
  </ul>
</div>