<div class="container">
<label for="email">Email:</label>
<input type="text" name="email" id="email" ng-model="email">
<label for="password">Password:</label>
<input type="password" name="password" id="password" ng-model="password">
<button ng-click="login()">Login</button>
</div>